<!DOCTYPE html> <!-- Define el tipo de documento como HTML5 -->
<html lang="en"> <!-- Abre la etiqueta de apertura de HTML y especifica el idioma como inglés -->
<head> <!-- Comienza la sección de encabezado del documento -->
    <meta charset="UTF-8"> <!-- Especifica la codificación de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura la visualización en dispositivos móviles -->
    <link rel="stylesheet" href="../CSS/style.css"> <!-- Enlaza una hoja de estilos externa ubicada en la carpeta "CSS" -->
    <title>Error de inicio</title> <!-- Establece el título de la página -->
</head> <!-- Cierra la sección de encabezado del documento -->
<body> <!-- Comienza la sección de cuerpo del documento -->
    <h1 class="err">JAJA ERROR</h1> <!-- Crea un encabezado de nivel 1 con la clase "err" para mostrar un mensaje de error -->
    <video class="v1" autoplay loop> <!-- Crea un elemento de video con la clase "v1", con reproducción automática y en bucle -->
        <source src="../video/video1.mp4" type="video/mp4"> <!-- Especifica la fuente del video ubicado en la carpeta "video" -->
        <!-- Aquí puedes añadir más fuentes de video si lo deseas -->
        Tu navegador no soporta el elemento de video. <!-- Mensaje alternativo para navegadores que no soportan el elemento de video -->
    </video> <!-- Cierra el elemento de video -->
</body> <!-- Cierra la sección de cuerpo del documento -->
</html> <!-- Cierra la etiqueta de cierre de HTML -->
