<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Establece el tipo de documento como HTML5 -->
    <meta charset="UTF-8">
    <!-- Configura el documento para que sea compatible con el tamaño de la pantalla del dispositivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlaza el documento HTML con una hoja de estilos CSS externa ubicada en el directorio CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- Define el título de la página que se mostrará en la pestaña del navegador -->
    <title>Ingreso éxitoso</title>
</head>
<body>
    <!-- Encabezado de nivel 1 que indica un acceso exitoso -->
    <h1>ACCESO ÉXITOSO</h1>
    <!-- Muestra una imagen ubicada en el directorio img con una clase CSS-->
    <img src="../img/img2.jpg" class="conex">
</body>
</html>
